<h1><%= @beer.name %></h1>
<br>
Brewery: <%= @beer.brewery %>
<br>
Style: <%= @beer.style %>
<br>
<!-- ABV: <%#= @beer.ABV %> -->
<br>
Link here for edit if current user
<br>
Link here to add review to beer
<br>
Link here to show all beers
<br>